<div class="banner" style="background-image: url(https://res.cloudinary.com/aeyevenes/image/upload/c_thumb,w_200,g_face/v1632091341/deltaG_blujyg.jpg);">
  <div class="container">
    <h1><strong>Nos interesa tu aprendizaje</strong></h1>
    <p>Buscamos entretenerte.</p>
    <a class="btn btn-flat" href="#">Comenzamos!</a>
  </div>
</div>
